.plans {
  position: relative;
  padding: 40px 0;
  .container {
    position: relative;
    z-index: 2;
  }
}
.plans__cirkl-baskgraund {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 9.48%;
  bottom: -6.62%;
  width: 100%;
  height: 1731px;
  overflow-x: hidden;
  border-radius: 50%;
  background: #f6f5ff;
  filter: blur(16.5085px);
}

.plans__qestion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 4px 12px;
  width: 157px;
  height: 28px;
  background: #f6f5ff;
  border-radius: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #6941c6;
}
.plans__title {
  margin: 12px 0 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 111%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #42307d;
}
.plans__deskription {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #667085;
}
.plans__container-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px auto;
  width: 320px;
  height: 44px;

  background: rgba(249, 250, 251, 0.7);
  border-radius: 24px;
}
.container-button__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 44px;
  border-radius: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.purpul {
  background: linear-gradient(26.57deg, #53389e 8.33%, #6941c6 91.67%);
  color: #ffffff;
}
.plans__list {
}
.plans__item {
  margin-bottom: 32px;
  padding: 24px 24px 32px;
  background: #ffffff;
  border-radius: 8px;
  &:last-child {
    margin-bottom: 0;
  }
}
.plans__item__pretitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #6941c6;
}
.plans__item__prise {
  margin: 12px 0 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #18214d;
}
.plans__item__description {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #667085;
}
.item-commercial__list {
  margin: 32px 0;
}
.item-commercial__string {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #344054;
  &:last-child {
    margin-bottom: 16px;
  }
}
.item-commercial__string-cirkle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  background: #f4ebff;
  border-radius: 12px;
  img {
    width: 12px;
    height: 10px;
  }
}
.plans__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 44px;
  background: #f4ebff;
  border: 1px solid #f4ebff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #53389e;
  &:hover,
  &:focus,
  &:active {
    background: #6941c6;
    border: 1px solid #6941c6;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    color: #ffffff;
  }
}

@media screen and (min-width: 795px) {
  .plans__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .plans__item {
    width: 328px;
    margin-right: 10px;
    &:nth-child(2) {
      margin-right: 0;
    }
  }
  .plans__cirkl-baskgraund {
    width: 700px;
    height: 1100px;
    top: 18%;
    bottom: 4.43%;
  }
}
@media screen and (min-width: 1024px) {
  .plans__item {
    width: 328px;
    margin-right: 40px;
    &:nth-child(2) {
      margin-right: 0;
    }
  }
  .plans__cirkl-baskgraund {
    width: 703px;
    height: 703px;
    top: 18%;
    bottom: 4.43%;
  }
}
@media screen and (min-width: 1120px) {
  .plans__title {
    font-size: 48px;
    line-height: 125%;
  }
  .plans__deskription {
    width: 600px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 150%;
    color: #667085;
  }
  .plans__container-button {
    margin: 24px auto 0;
  }

  .plans__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 64px 0 94px;
  }
  .plans__item {
    width: 328px;
    margin-right: 40px;
    margin-bottom: 0;
    &:nth-child(2) {
      margin-right: 40px;
    }
  }
  .plans__cirkl-baskgraund {
    width: 703px;
    height: 703px;
    top: 18%;
    bottom: 4.43%;
  }
}
