.footer {
  padding: 40px 0;
}
.container {
}

.footer__logo {
  width: 72px;
  height: 36px;
  transition: 0.3;
  &:hover {
    // scale: 1.1;
    opacity: 0.8;
    transition: 0.3;
  }
}
.footer__deskription {
  margin: 24px 0 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #667085;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
}
.footer__item {
  width: 50%;
  margin-bottom: 12px;
  &:nth-child(5n) {
    margin-bottom: 0px;
  }
  &:last-child {
    margin-bottom: 0px;
  }
}
.footer__item-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #667085;
  transition: 0.3;
  &:hover {
    color: #6941c6;
    transition: 0.3;
  }
}
.footer__app {
  margin: 40px 0;
}
.footer__app-title {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #6941c6;
}

.footer__app-container {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  // width: 100%;
}
.footer__app-link {
  img {
    width: 135px;
    height: 40px;
    margin-right: 16px;
    transition: 0.3;
  }
  &:hover {
    scale: 1.1;
    transition: 0.3;
  }
}
.footer__reserved-list {
  display: flex;
  align-items: center;
  padding: 32px 0;
  width: 100%;
  border-top: 1px solid #e4e7ec;
}
.footer__reserved-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 24px;
  transition: 0.3;
  &:hover {
    scale: 1.1;
    transition: 0.3;
  }
}
.footer__reserved-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #98a2b3;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 64px 0 48px;
    .container {
      > div {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }
    }
  }

  .footer__text {
    width: 70%;
  }
  .footer__logo img {
    width: 48px;
    height: 27px;
  }
  .footer__deskription {
    margin: 32px 0;
    width: 320px;
  }
  .footer__list {
    display: flex;
    flex-wrap: wrap;
  }
  .footer__item {
    width: 30%;
    margin-bottom: 12px;
    &:nth-child(5n) {
      margin-bottom: 0px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }
  .footer__app {
    margin: 0;
  }

  .footer__app-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer__app-link {
    margin-bottom: 16px;
  }
  .footer__reserved {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 64px;
    padding: 32px 0 0;
    width: 100%;
    border-top: 1px solid #e4e7ec;
  }
  .footer__reserved-list {
    display: flex;
    align-items: center;
    width: 264px;
    padding: 0;
    border-top: none;
  }
  .footer__reserved-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 24px;
  }
  .footer__reserved-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #98a2b3;
  }
}

@media screen and (min-width: 1120px) {
  .footer__list {
    display: flex;
    flex-wrap: nowrap;
  }
  .footer__item {
    // display: inline-flex;
    // width: auto;
    margin-bottom: 12px;
    &:nth-child(5n) {
      margin-bottom: 0px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }
}
